.PostSide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  overflow: auto;
  width: 100%;
}

@media (max-width: 480px) {
  .PostSide {
    gap: 0.75rem;
    height: auto;
  }
}
