.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  border-radius: 1rem;
  gap: 1rem;
  width: 100%;
}

.Post > img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.postReact {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .Post {
    padding: 0.75rem;
    gap: 0.75rem;
  }

  .Post > img {
    max-height: 15rem;
    border-radius: 0.3rem;
  }

  .postReact {
    gap: 1rem;
  }
}
