.ProfilePageLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  overflow: auto;
  width: 100%;
}

@media (max-width: 480px) {
  .ProfilePageLeft {
    gap: 0.75rem;
  }
}
