.LogoSearch {
  display: flex;
  gap: 0.75rem;
  width: 100%;
  align-items: center;
}

.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
  flex: 1;
  min-width: 150px;
}

.Search > input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(98.63deg, #6674cc 0%, #b578ff 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
  flex-shrink: 0;
}

.s-icon:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .LogoSearch {
    gap: 0.5rem;
  }

  .Search {
    min-width: 100px;
    padding: 3px;
  }

  .Search > input {
    font-size: 12px;
    padding: 2px;
  }
}
